/*Reset Browser margin*/
* {
    margin: 0;
}

body {
    overflow-y: hidden;
}

iframe {
    display: block;
    background: #000;
    border: none;
    height: 100vh;
    width: 100vw;
}